.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top:0px;
    bottom: 12px;
}

.container-form .form-container{
    width: 100%;
    max-width: 24rem;
    padding: 1rem;
    background-color: #ffffff;
    border-color:  #e5e7eb;
    border-radius: 0.5rem;
    align-items: center;
    margin-left:20px;
}

.container-form .form-title{
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #6b7280;
}
.container-form .form-label{
    display: block;
    margin-bottom: 0.5rem ;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
}
.container-form .form-input{
    background-color:  #f9fafb;
    /* border-color:  #e5e7eb; */
    border-radius: 0.5rem;
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
    width: 100%;
    display: block;
}
.container-form .form-textarea{
    display: block;
    padding: 0.625rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    resize: none;

}
.container-form .form-button{
    width: 100%;
    background-color: #6b7280;
    border-radius: 0.5rem;
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 1rem;
}
@media (min-width: 640px) {
    .container-form .form-container{
        padding: 1.5rem;
    }
}